* {
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-white: #FFFFFF;
    --color-light-grey: #F7F7F7;
    --color-black: #000000;
    --color-green: #55DFB4;
    --color-redish: #FB3B64;
    --color-grey: #A5A5A5;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}


/******  Header  ******/


.header {
    position: fixed;
    width: 100vw;
    top: 0;
    border-bottom: 1px solid var(--color-light-grey);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    /* z-index: 4; /*czy napewno */
    left: 0;
    background-color: var(--color-white);
}

.container {
    width: 100%;
    margin: 0 auto;
    opacity: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 1rem 0 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-family: var(--font-raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-primary);
}

.logo-header-container {
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    font-family: var(--font-raleway);
    color: var(--color-primary);
}

.menu {
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 0.6875rem;
    padding: 0;
}

.menu-list a {
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    text-transform: uppercase;
    font-size: 0.6875rem;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 1;
}

.menu-list a:hover {
    border-bottom: var(--color-primary) 2px solid;
    color: var(--color-black);
}


/*******  Hero  **********/


.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.opening-inside {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-top: 10rem;
}

.opening-inside-text {
    font-family: var(--font-raleway);
    margin: 20px 0 38px 0;
}

.background-image {
    width: 100%;
    height: 494px;
    background-size: contain;
    opacity: 1;
}

.opening-button {
    color: #FFFFFF;
    display: inline-block;
    padding: 1.875rem
}

.opening-button-main {
    background-color: var(--color-primary);
    border-radius: 40px;
    box-shadow: 5px 10px 14px var(--color-light-grey);
    opacity: 1;
    padding: 22px 155px;
    color: white;
    font-family: var(--font-raleway);
    font-weight: bold;
    text-decoration: none;
}


/*********** Statistic ****************/


.statistic-title {
    font-family: var(--font-raleway);
    font-size: 36px;
    text-align: center;
    padding-top: 5rem;
}

.statistics-container {
    font-family: var(--font-raleway);
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    padding-top: 5rem;
    margin: 100px auto;
}

.statistic-main {
    max-width: 160px;
    display: flex;
    flex-direction: column; /* potrzebne? */
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 17px;
}

.statistics-circle-red {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    padding-left: 30px;
    background-color: var(--color-redish);
}

.statistics-circle-blue {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    padding-left: 30px;
    background-color: var(--color-primary);
}

.statistics-circle-green {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
    padding-left: 30px;
    background-color: var(--color-green);
}

.statistics-img {
    align-items: center;
    position: absolute;
    /* coś żeby oko było na środku w pionie*/
}

.statistics-number {
    letter-spacing: 6px;
    margin-top: 13px;
    font-weight: 1000;
    opacity: 1;
}

.statistics-spec {
    margin-top: 19px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--color-grey);
}


/********** Benefits *************/


.benefits {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-grey);
}
.statistics-container {
    padding: 0 100px;
}

.benefits-normal {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid var(--color-white);
    border-radius: 5px;
    /* margin bottom ? */
}

.benefits-text {
    box-sizing: content-box;
    max-width: 416px;
    margin: 91px 35px;
}

.benefits-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: var(--line-color);
    display: block;
    margin-top: 50px;
}
.benefits-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
}

.benefits-description {
    font-family: 'Raleway', sans-serif;
    color: var(--color-black);
    font-size: 16px;
    margin-top: 30px;
    line-height: 22px;
}

.benefits-img {
    scale: 58%;
    position: relative;
}

.benefits-normal.benefits-notebook::before {
    content: "";
    width: 200px;
    height: 200px;
    display: inline-block;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background-color: var(--color-redish);
    border-radius: 41px;
    position: absolute;
    right: 240px;
    top: 1470px;
}

.benefits-notebook {
    --line-color: var(--color-redish);
}

.benefits-normal.benefits-notebook {
    background-color: var(--color-white);
    margin: 105px;
}

.benefits-iphone {
    --line-color: var(--color-primary);
    flex-direction: row-reverse;
    padding: 0 20px 0 -100px;
}

.benefits-normal.benefits-iphone::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: 290px;
    top: 2070px
}

.benefits-iphone.benefits-img {
    width: 26px;
    height: auto;
}

.benefits-iphone.benefits-text {
    margin: 70px 100px;
}

.benefits-normal.benefits-iphone {
    background-color: var(--color-white);
    margin: 105px;
}

.benefits-special-trumpet > div {
    --line-color: var(--color-green);
    display: flex;
    margin-right: 800px;
}

.benefits-special.benefits-trumpet {
    background-color: var(--color-white);
    margin: 105px 105px 105px 105px;
    height: 370px;
    border-radius: 5px;
}

.benefits-green-one img {
    width: 296px;
    height: 208px;
    margin-top: 55px;
}

.benefits-img-green {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border: none;
    border-radius: 5px;
    margin-left: 100px;
}


/********** Pricing *************/

.pricing-main-title {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: var(--color-black);
    margin-top: 100px;
}

.container-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;

}
.pricing-box.basic-box {
    width: 372px;
    height: 460px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --basic-color: var(--color-redish);
    border: 1px solid var(--basic-color);
}

.pricing-box.professional-box {
    width: 405px;
    height: 500px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    --pro-color: var(--color-primary);
    border: 1px solid var(--pro-color);
    box-shadow: 5px 10px 27px var(--color-primary);
    opacity: 1;

}

.pricing-box.premium-box {
    width: 372px;
    height: 460px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    --premium-color: var(--color-green);
    border: 1px solid var(--premium-color);
}


.pricing-spec {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 70px;
}

.pricing-title {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 800;
}

.pricing-limited {
    font-family: var(--font-raleway);
    font-size: 12px;
    font-weight: 900;
    margin-top: 38px;
}

.pricing-title-amount-basic {
    font-family: var(--font-open-sans);
    font-size: 46px;
    margin-top: 21px;
    color: var(--basic-color);
}

.pricing-title-amount-pro {
    font-family: var(--font-open-sans);
    font-size: 46px;
    margin-top: 21px;
    color: var(--pro-color);
}

.pricing-title-amount-premium {
    font-family: var(--font-open-sans);
    font-size: 46px;
    margin-top: 21px;
    color: var(--premium-color);
}

.pricing-box-list {
    font-family: var(--font-open-sans);
    text-align: center;

}
.pricing-element-include {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing-element-include::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/checkmark_1.svg");
    border: 1px solid var(--color-green);
    border-radius: 2px;
    opacity: 60%;
}

.pricing-element-not-include {
    font-size: 14px;
    margin-bottom: 20px;
}

.pricing-element-not-include::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../assets/close.svg");
    border: 1px solid var(--color-redish);
    border-radius: 2px;
    opacity: 60%;
}


.btn-pricing-basic {
    background: var(--color-redish);
    position: absolute;
    translate: 0 840%;
    margin: 16px 57px 16px 57px;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-align: center;
    line-height: 45px;
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.btn-pricing-pro {
    background: var(--color-primary);
    position: absolute;
    translate: 0 914%;
    margin: 16px 57px 16px 57px;
    width: 165px;
    height: 50px;
    border-radius: 23px;
    text-align: center;
    line-height: 45px;
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.btn-pricing-premium {
    background: var(--color-green);
    position: absolute;
    translate: 0 840%;
    margin: 16px 57px 16px 57px;
    width: 150px;
    height: 50px;
    border-radius: 23px;
    text-align: center;
    line-height: 45px;
    color: var(--color-white);
    font-family: var(--font-open-sans);
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}


/*********** Contact ***********/


.container-question-method {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 155px;
}

.contact-method {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 520px;
}

.method-left {
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    margin-bottom: 200px;
}

.contact-title {
    font-family: var(--font-raleway);
    font-size: 49px;
    margin-bottom: 34px;
    border: 500px;
}

.contact-info-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    font-family: var(--font-open-sans);
    font-size: 16px;
}

.contact-spec {
    display: flex;
    flex-direction: row;
}

.contact-mail {
    text-align: justify;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    margin-right: 20px;
    margin-left: 10px;
}
.contact-phone {
    text-align: justify;
    font-family: var(--font-open-sans);
    color: var(--color-grey);
    margin-left: 10px;
}
.mail-icon {
    height: 27px;
    width: 27px;
}
.phone-icon {
    height: 27px;
    width: 27px;
}

.method-right {
    display: flex;
    flex-basis: 550px;
    margin-bottom: 80px;
    padding-left: 80px;
}

.form-spec {
    font-size: 20px;
}

.spec-name-mail {
    font-size: 11px;
    font-weight: bolder;
    font-family: var(--font-open-sans);
    color: var(--color-primary);
    text-transform: uppercase;
    height: 80px;
}
.input-name {
    flex-shrink: 0;
    appearance: none;
    border: none;
    border-bottom: 1px  solid var(--color-grey);
    width: 440px;
    margin-top: 44px;
}
.input-mail {
    flex-shrink: 0;
    appearance: none;
    border: none;
    border-bottom: 1px  solid var(--color-grey);
    width: 440px;
    height: 14px; /* wyrównać napisy w pionie*/
    margin-top: 44px;
}

.label-mail {
    text-align: center;
}

.form-text-row {
    display: flex;
    gap: 6px;
}

.form-checkbox {
    font-family: var(--font-open-sans);
    font-size: 12px;
    text-align: left;
    color: var(--color-grey);
}

.form-checkbox-input {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.form-checkbox-input:checked {
    background-image: url("../assets/checkmark.svg");
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
    width: 226px;
    height: 57px;
    border-radius: 35px;
    flex-basis: 226px;
    text-align: center;
    background-color: var(--color-primary);
}

.btn-form-details {
    display: flex;
    align-items: center;
    text-align: match-parent;
    font-size: 13px;
    background-color: unset;
    border: none;
    font-family: var(--font-open-sans);
    color: var(--color-white);
}